body {
    background-color: cornsilk;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 1em;
    
}

.box {
    padding: 1px;
    box-sizing: border-box;
    border: 1px dotted gray;
}

#header {
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
}

#btn {
    margin: auto;

}